.score {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 1;
}

.score-box {
  border: thin solid grey;
  margin-left: 8px;
  width: 30px;
}

.good {
  color: green;
  margin-top: 12px;
}
.good-icon {
  margin-left: -16px;
  font-size: 3em;
}
.bad {
  color: red;
  margin-top: 12px;
}
.bad-icon {
  margin-left: -16px;
  font-size: 3em;
}
.quit {
  margin-top: 10px;
  float: right;
}