<div fxLayout="row" class="m-t-15" fxLayoutAlign="center none">
  <h2>{{gameHeader}}</h2>
</div>
<div fxLayout="row" *ngIf="game">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" *ngIf="gameTypes">
        <mat-select class="partial-width-50 m-b-15" [(ngModel)]="game.gameType" [disabled]="!round.canEdit" (ngModelChange)="updateGameType($event)" placeholder="Select a game">
          <mat-option *ngFor="let gameType of gameTypes" [value]="gameType.id">{{gameType.name}}</mat-option>
        </mat-select>
        <mat-select class="partial-width-50 m-b-15" [(ngModel)]="game.scoringType" [disabled]="!round.canEdit" (ngModelChange)="updateScoringType()" placeholder="Scoring System">
          <mat-option *ngFor="let scoringType of scoringTypes" [value]="scoringType.id">{{scoringType.name}}</mat-option>
        </mat-select>
        <mat-select *ngIf="game.isTeam" class="partial-width-50 m-b-15" [(ngModel)]="game.numberOfScores" [disabled]="!round.canEdit" placeholder="# of Scores">
          <mat-option [value]="1">1 Ball</mat-option>
          <mat-option [value]="2">2 Balls</mat-option>
          <mat-option [value]="3">3 Balls</mat-option>
        </mat-select>
        <mat-checkbox [(ngModel)]="game.isNet" [disabled]="!round.canEdit" (change)="updateNetVsGross()">Use Handicaps (Net)</mat-checkbox>
        <mat-form-field class="half-width m-t-15">
          <input matInput placeholder="Bet/Buy-in/Point Value" [disabled]="!round.canEdit" [(ngModel)]="game.betValue" />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="game && game.scoringType === 2">
  <app-payouts [disabled]="!round.canEdit" [game]="game" [players]="round.players.length"></app-payouts>
</div>
<div fxLayout="row" *ngIf="round && game">
  <mat-card style="width: 100%">
    <mat-card-header>
      <mat-card-title>{{game.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-individual-game *ngIf="game.isIndividual" [disabled]="!round.canEdit" [teams]="game.teams" [allPlayers]="round.players"></app-individual-game>
      <app-match-game *ngIf="game.isMatch" [disabled]="!round.canEdit" (change)="teamChange()" [teams]="game.teams" [players]="round.players"></app-match-game>
      <app-team-game *ngIf="game.isTeam" [disabled]="!round.canEdit" (change)="teamChange()" [game]="game" [round]="round"></app-team-game>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" [disabled]="!round.canEdit" (click)="delete()">Delete</button>
      <button mat-raised-button color="primary" [disabled]="!round.canEdit" (click)="save()">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
